@font-face {
    font-family: 'TransportNew';
    src: url('font/TransportNew-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
} 

@font-face {
    font-family: 'TransportNew';
    src: url('font/TransportNew-Light.otf') format('opentype');
    font-display: swap;
} 

:root {
    --text-color: #000;
    --text-muted: rgba(0, 0, 0, 0.5);
    --spacing: 1rem;
    --max-width: 800px;
}

body {
    font-family: 'TransportNew', system-ui, -apple-system, sans-serif;
    font-optical-sizing: auto;
    text-wrap: pretty;
    margin: 0 auto;
    padding: var(--spacing);
    max-width: var(--max-width);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-weight: 500;
    margin-bottom: 0;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
}

figure {
    margin: 0;
}

figcaption {
    margin: 8px 0;
    padding: 0;
    line-height: 1.5;
}

img,
video {
    width: 100%;
    height: auto;
    display: block;
}

.f {
    display: flex;
    flex-wrap: wrap;
}

.f-i {
    flex-basis: 100%;
    padding: var(--spacing);
}

.m {
    max-width: calc((100% - 4rem) / 5 * 2);
}

.text-muted {
    color: var(--text-muted);
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .f {
        flex-direction: column;
    }

    h3 {
        margin-top: 1.5rem;
    }

    figcaption {
        padding: 0 var(--spacing);
    }

    .f-i {
        padding: var(--spacing) 0;
        max-width: 100%;
    }

    .m {
        max-width: 100%;
    }
}

.p {
    padding: var(--spacing);
}