body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
}

p {
}

.spoon-inline {
    height: 2em;
    width: auto;
    vertical-align: middle;
}