body {
  text-wrap: pretty;
  background-color: #808080;
}

video {
  display: block
}

.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#intro-wrapper {
  margin: auto;
}

.card-link-img {
  width:88px; 
  height:88px; 
  background-size: cover; 
  background-position: center center;
}

#cdc {
  background: #0c3b7b;
  /*background: linear-gradient(135deg, #0c3b7b, #081d39);*/
}

#tectonic {
  background: rgb(244, 244, 153);
}

#foodpanda {
  background: #cd0e68;
}

#wristcheck {
  background: #101011;
}

#gogox {
  background: #0a6793;
}

#hypebeast {
  background: #101011;
}

.avatar {
  border-radius: 100%;
  width: 48px;
  margin-right: 4px;
}

video {
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}