body {
  text-wrap: pretty;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
}

video {
  display: block
}

.tomei {
  width: fit-content;
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(69deg, #4a9ffd, #251bb9, #701a52, #c37000);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.link-light {
  color: #6EA8FE !important;
}

.link-light:hover {
  color: #8BB9FE !important;
}

.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#intro-wrapper {
  margin: auto;
}

.card-link-img {
  width: 88px;
  height: 88px;
  background-size: cover;
  background-position: center center;
}

.bg-light {
  background: #F4F8FA !important;
}

.bg-dark {
  background: #081013 !important;
}

.avatar {
  border-radius: 100%;
  width: 48px;
  margin-right: 4px;
}

video {
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}