body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Inter Tight', sans-serif;
}

.project-media {
    border-radius: 16px;
    background-color: #f1f1f1;
    width: 100%;
}

.avatar {
    border-radius: 100%;
    width: 48px;
    margin-right: 4px;
}

.container {
    overflow: hidden;
  }

.slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}
.logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}
.logos img {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    animation: fade-in 0.5s 
    cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    width: calc(100%/5);
}
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  