body {
    font-family: monospace;
}

h2, h3 {
    margin: 0.5rem 0;
}

hr {
    opacity: 0.1;
    margin: 0.5rem 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
}


div {
    padding: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#preview {
    position: sticky;
    align-self: start;
    top: 0;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #fff;
    }

    a {
        color: #ffff11;
    }

    a:visited {
        color: #aae574;
    }

    li:hover {
        background-color: rgba(255, 255, 17, 0.1)
        ;
    }

}