body {
    font-family: monospace;
    margin: 0;
    font-size: 14px;
    color: #111;
    background: #fff;
}

h1,
h2,
h3 {
    margin: 4px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h3, .external-icon {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: blue;
}

.flag {
    height: 12px;
    border-radius: 2px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px;
}

.header, .footer {
    padding: 24px 0;
}

.card {
    background: #11111105;
    border: 1px solid #11111150;
    overflow: hidden;
}

.card a {
    color: #111;
}

.card-body h2 {
    margin-top: 0;
}

.card-padding {
    padding: 24px;
}

.card:hover {
    background: #11111110;
    border: 1px solid #111;
}

.card-body {
    display: flex;
    justify-content: space-between;
    gap:8px;
}

.card-media {
    padding-top: 24px;
}

.fg-1,
.fg-2,
.fg-3 {
    flex: 1 1 auto;
}

.phone, .desktop {
    background: black;
    border-color: black;
}

.phone {
    border-radius: 13%/6%;
    border-width: 6px;
    border-style: solid;
    width: calc(100% - 12px);
}

.desktop {
    border-width: 2px;
    border-style: solid;
    width: calc(100% - 4px);
}

.d3-2 {
    border-radius: 1.33%/2%
}

.d16-9 {
    border-radius: 1.125%/2%
}

@media (prefers-color-scheme: dark) {
    body {
        background: #080C0E;
        color: #BBEEFF;
    }

    a {
        color: #BBEEFF;
    }

    .card {
        background: #BBEEFF05;
        border: 1px solid #BBEEFF50;
    }

    .card a {
        color: #BBEEFF;
    }

    .card:hover {
        background: #BBEEFF10;
        border: 1px solid #BBEEFF;
    }
}


@media (min-width: 576px) {
    .row {
        flex-direction: row;
    }

    .fg-1 {
        flex: 1 1 0;
    }

    .fg-2 {
        flex: 2 1 0;
    }

    .fg-3 {
        flex: 3 1 0;
    }

    .desktop {
        border-width: 6px;
    }

    .card {
        height: 36vw;
    }
}

@media (min-width: 768px) {
    .row {
        width: 87.5vw;
        max-width: 1680px;
        margin: 24px auto;
    }



    .card-padding {
        padding: 32px;
    }



}
