body {
    font-family: sans-serif;
    padding: 1.5rem;
    max-width: 64rem;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: #111;
    }
    body a {
        color: #42A4FF;
    }
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}