<footer class="site-footer">

  <div class="wrapper">

    <div class="col-wrapper">
      <div class="col col-3">
        <ul>
            <h3>Say hi</h3>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="col col-3">
        <ul>
          <h3>Find me</h3>
          <li>
            <a href="https://dribbble.com/tomoslau" target="blank">Dribbble</a>
          </li>
          <li>
            <a href="https://instagram.com/tomoslau" target="blank">Instagram</a>
          </li>
          <li>
            <a href="https://medium.com/@tlau" target="blank">Medium</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>