<footer class="site-footer">
  <div class="wrapper">
    <div class="grid grid-d2-m1">
      <div class="grid-item">
        <p>
           <a href="https://dribbble.com/{{ site.username }}" target="blank">Dribbble</a> / 
           <a href="https://www.linkedin.com/in/{{ site.username }}/" target="blank">LinkedIn</a> / 
           <a href="https://{{ site.username }}.medium.com/" target="blank">Medium</a> / 
           <a href="https://www.twitter.com/{{ site.username }}/" target="blank">Twitter</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/lazyload.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>