.bio {
	margin-top: 2rem;
 	p {
 		font-size: $base-font-size*1.5;
 	}
 	h1 {
 		margin-top: 0px;
 	}
 }

.work-header {
 	margin-bottom: 2rem;
 }
 
 // Work grid
.work-grid {
	.work-item {
		&:nth-child(even) {
	      position: relative;
	      @include breakpoint(sm) {
	        top: 200px;
	      }
	      @include breakpoint(md) {
	        top: 200px;
	      }
	    }
	}
}