.post-content {
	p, h1, h2, h3, h4, ul, ol {
		max-width: $max-line-length;
		margin-left: auto;
		margin-right: auto;
	}
	p, ul, ol, li {
		font-size: $base-font-size*1.25;
		@include breakpoint(xs) {
			font-size: $base-font-size;
		}
	}
	h2 {
		margin-top: 6rem;
		margin-bottom: 0;
		@include breakpoint(xs) {
			margin-top: 4rem;
		}
	}
	h3, h4 {
		margin-top: 3rem;
		margin-bottom : 0;
	}
	margin-bottom: 3rem;
}

.post-header {
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 4rem;
	h1, p {
		max-width: 100%;
	}
	h1 {
		margin-bottom: 0;
		font-weight: $base-font-weight;
		.company {
			font-weight: $heading-font-weight;
		}
	}
	p {
		margin-top: 1rem;
	}
}

.post-meta {
	opacity: 0.6;
}
