/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  width: 100%;
  position: fixed;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@include media-query($on-palm) {
  .site-header {
    position: relative;
  }
}

.site-title {
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit 0;
}

// Adds padding to pages without banner
.home, .page {
  padding-top: $spacing-unit*4;
}

.page-heading {
  @include relative-font-size(1);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1);
  padding-top: $spacing-unit /2;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.banner-image {
  width: 100%;
  margin-bottom: $spacing-unit;
}

.post-header .wrapper {
  max-width: 720px;
}

.post-title {
  @include relative-font-size(2.625);
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  max-width: 720px;
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-content img {
  margin: $spacing-unit/2 auto;
}


/**
 * Columns
*/
.col-wrapper {
  margin-left: -$spacing-unit ;
  @extend %clearfix;
}

.col {
  float: left;
  margin-bottom: $spacing-unit;
  padding-left: $spacing-unit;
}

.col-2 {
  width: -webkit-calc(calc(100%  /3) - (#{$spacing-unit} ));
  width:         calc(calc(100%  /3) - (#{$spacing-unit} ));
}

@include media-query($on-laptop) {
  .col-2 {
    width: -webkit-calc(calc(100%  /3) - (#{$spacing-unit} ));
    width:         calc(calc(100%  /3) - (#{$spacing-unit} ));
  }
}

.col-3 {
  width: -webkit-calc(50% - (#{$spacing-unit} ));
  width:         calc(50% - (#{$spacing-unit} ));
}

@include media-query($on-laptop) {
  .col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} ));
    width:         calc(50% - (#{$spacing-unit} ));
  }
}

.col-4 {
  width: -webkit-calc(calc(100%  /3*2) - (#{$spacing-unit} ));
  width:         calc(calc(100%  /3*2) - (#{$spacing-unit} ));
}
@include media-query($on-palm) {
  .col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} ));
    width:         calc(100% - (#{$spacing-unit} ));
  }
}

/**
 * Home page
*/

.home li {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}