/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  width: 100%;
  position: fixed;
  font-weight: bold;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@include media-query($on-palm) {
  .site-header {
    position: relative;
  }
}

.site-title {
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.site-footer ul {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit 0;
}

// Adds padding to pages without banner
.home, .page {
  padding-top: $spacing-unit*4;

  @include media-query($on-palm) {
    padding-top: $spacing-unit/2;
  }
}

.page-heading {
  @include relative-font-size(1);
}

.post-list {
  margin-top: $spacing-unit/1.5;
  margin-left: 0;
  list-style: none;

  > .col {
    margin-bottom: 0;
  }

}

.post-link {
  display: block;
  padding-top: $spacing-unit /3;
  font-weight: bold;
}

.work {
  h2{
  margin-top: 0;
  }
  .post-link {
    padding-top: 0;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.banner-image {
  width: 100%;
  margin-bottom: $spacing-unit;
}

.post-header .wrapper {
  max-width: 720px;
}

.post-content {
  max-width: 720px;
  margin-bottom: $spacing-unit*3;

  h2 {
    @include relative-font-size(2);
    line-height: 1.1;
    margin-bottom: $spacing-unit/2;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-content img {
  margin: $spacing-unit/2 auto;
  display: block;
}

.post-meta {
  font-style: italic;
}


/**
 * Columns
*/
.row {
  width: 100%;
  display: flex;
  align-items: center;

  @include media-query($on-palm) {
    display: inline-block;
    margin-bottom: $spacing-unit;
  }
}

.col-wrapper {
  margin-left: -$spacing-unit ;
  @extend %clearfix;
}

.col {
  float: left;
  margin-bottom: $spacing-unit;
  padding-left: $spacing-unit;
  @include media-query($on-palm) {
    margin-bottom: $spacing-unit/3;
  }
}

.col-2 {
  width: -webkit-calc(calc(100%  /3) - (#{$spacing-unit} ));
  width:         calc(calc(100%  /3) - (#{$spacing-unit} ));
}

@include media-query($on-laptop) {
  .col-2 {
    width: -webkit-calc(calc(100%  /3) - (#{$spacing-unit} ));
    width:         calc(calc(100%  /3) - (#{$spacing-unit} ));
  }
}

.col-3 {
  width: -webkit-calc(50% - (#{$spacing-unit} ));
  width:         calc(50% - (#{$spacing-unit} ));
}

@include media-query($on-laptop) {
  .col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} ));
    width:         calc(50% - (#{$spacing-unit} ));
  }
}

.col-4 {
  width: -webkit-calc(calc(100%  /3*2) - (#{$spacing-unit} ));
  width:         calc(calc(100%  /3*2) - (#{$spacing-unit} ));
}
@include media-query($on-palm) {
  .col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} ));
    width:         calc(100% - (#{$spacing-unit} ));
  }
}

.col-6 {
  width: 100%;
}

/**
 * Home page
*/
.home h1 {
  margin-bottom: $spacing-unit*4;
  @include media-query($on-palm) {
    margin-bottom: $spacing-unit*2;
  }
}

/**
 * About page
*/
.hi {
  @include relative-font-size(16);
  line-height: 1;
  margin-bottom: $spacing-unit*4;
  @include media-query($on-laptop) {
    @include relative-font-size(4);
    font-weight: bold;
  }
}
.hi:before {
  content:"你好";
}
.hi:hover:before {
  content:"Hello";
}

#hi-container {
  margin-bottom: $spacing-unit*2;
  padding-left: $spacing-unit/3;
  @include media-query($on-laptop) {
    padding-left: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
}
.about ol {
  list-style-type: cjk-heavenly-stem;
}
