.work-item {
	figure {
  		overflow: hidden;
  	}
  	img {
  		transition: all 0.25s ease-in-out;
  	}
  	:hover img {
  		transform: scale(1.04, 1.04)
  	}
  	h3 {
  		margin-bottom: 0;
  	}
  	p {
  		margin-top: 0;
  		font-weight: 400;
  		color: $color-text-light;
  	}
}

.next-project {
	width: 40%;
	margin: 3rem auto;
	img {
		margin: 0 !important;
	}
	@include breakpoint(xs) {
		width: 100%;
	}
}