.gr_custom_header_1524583101 {
  display: none;
}

.gr_custom_each_container_1524583101 {
  margin: 1rem 0;
	font-size: $base-font-size*1.5;
	@include breakpoint(xs) {
		font-size: $base-font-size;
	}
}

.gr_custom_container_1524583101 center, .gr_custom_container_1524583101 br {
  display: none;
}