.site-header {
  width: 100%;
  padding: 1rem 0;
  font-size: $base-font-size*1.125;
  line-height: $base-line-height;
  @include breakpoint(xs) {
    font-size: $base-font-size;
  }
  a {
    text-decoration: none;
  }
}

.site-title {
  float: left;
  font-weight: 700;
}

.site-nav {
  float: right;

  .page-link {
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}