.quote-person {
	display: flex;
	align-items: center;
	.pp {
		width: 3rem;
		margin-right: 1rem;
	}
}

blockquote {
	background: $color-material-background;
	padding: 1.5rem;
	border-radius: 1rem;
	margin: 2rem 0;
}