---
layout: default
---

<div class="home">

  <p>I'm a designer based in Hong Kong, currently working on web and app products at HYPEBEAST.</p>
  
  {{ content }}

  <ul class="post-list col-wrapper">
    {% for post in site.posts %}
      <li class="col col-2">
        <a href="{{ post.url }}" ><img class="thumbnail" src="{{ post.thumbnail }}" />
          <!--
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
