---
layout: default
---

<div class="home wrapper">
  <div class="section bio big-text grid grid-d3-m1 tofadein">
    <div class="grid-item span-2">
      <h1>Tom Lau</h1>
      <blockquote>
        <p>🎤 Join my talk "Understand people through experiences, not words" on Nov 26 7pm HKT at <a href="https://productmanagementfestival.com/pm-nights/product-management-night-hong-kong"/>Product Management Night</a></p> 
      </blockquote>
      <p>Product designer currently building crowdsourced delivery at GogoX. Previously worked on the reading and shopping experience at Hypebeast, and served as Art Director at Isobar.</p>
      <p>→ <a href="/about/">Learn more about me</a><br>
      → <a href="https://dribbble.com/{{ site.username }}" target="blank">Dribbble</a></p>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>
    <div class="grid-item">
      <img class="pp" src="/assets/me.jpg" />
    </div>
  </div>
  <div class="section">
    <div class="work-header tofadein-second">
      <h2>Work &darr;</h2>
    </div>
   
      {% for post in site.posts %}
       <div class="work-item big-text">
          <figure>
            <img class="thumbnail" src="{{ post.thumbnail }}" />
          </figure>
          <h3><span class="company">{{ post.company }}</span> — {{ post.title }}</h3>
          <p class="post-meta">{{ post.year }} · {{ post.role }}</p>
          <p>{{ post.description }}</p>
          {% if post.permalink %}         
          <p>→ <a href="{{ post.url }}">Read case study</a></p>
          {% endif %}
        </div>
      {% endfor %}
  <!--
    <div class="grid grid-d2-m1 work-grid">
      {% for post in site.posts %}
        <div class="grid-item work-item scrollreveal">
          <a href="{{ post.url }}" class="link-reset">
            <figure>
              <img class="thumbnail" src="{{ post.thumbnail }}" />
            </figure>
            <h3>{{ post.title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  -->
  </div>
  <hr>
</div>