---
layout: default
---

<div class="home wrapper">
  <div class="section bio grid grid-d3-m1 tofadein">
    <div class="grid-item span-2">
      <h1>Tom Lau</h1>
      <p>Hong Kong-based product designer currently building crowdsourced delivery at <a href="https://www.gogovan.com.hk" target="_blank">GOGOVAN</a></p>
      <p><a href="/about/">Learn more about me</a></p>
      <p>→ <a href="https://dribbble.com/tomoslau" target="blank">Dribbble</a><br>
      → <a href="https://twitter.com/tomoslau" target="blank">Twitter</a><br>
      → <a href="https://instagram.com/tomoslau" target="blank">Instagram</a></p>
      <p><a href="mailto:tomoslau@gmail.com">tomoslau@gmail.com</a></p>
    </div>
    <div class="grid-item">
      <img class="pp" src="/assets/pp.jpg" />
    </div>
  </div>
  <div class="section">
    <div class="work-header tofadein-second">
      <h2>Case studies &darr;</h2>
    </div>
    <div class="grid grid-d2-m1 work-grid">
      {% for post in site.posts %}
        <div class="grid-item work-item scrollreveal">
          <a href="{{ post.url }}" class="link-reset">
            <figure>
              <img class="thumbnail" src="{{ post.thumbnail }}" />
            </figure>
            <h3>{{ post.title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="section grid grid-d2-m1">
    <div class="grid-item">
      <h2>Specialties</h2>
      <ul class="list-reset">
        <li>Product Design</li>
        <li>User Experience Design</li>
        <li>User Interface Design</li>
      </ul>
    </div>
    <div class="grid-item">
      <h2>What I’m reading</h2>
      <script src="https://www.goodreads.com/review/custom_widget/53473424.What%20I'm%20reading?cover_position=left&cover_size=small&num_books=5&order=a&shelf=currently-reading&show_author=0&show_cover=0&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1524583101&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
    </div>
  </div>
  <hr>
</div>