---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content wrapper tofadein-second">
    <div class="post-header">
      <h1 itemprop="name headline"><span class="company">{{ page.company }}</span> — {{ page.title }}</h1>
      <p class="post-meta">
        {{ page.year }} · {{ page.role }}
      </p>
    </div>
    <figure>
      <img class="tofadein lazy" data-src="{{ page.thumbnail }}">
    </figure>
    {{ content }}
    <ul class="list-reset" style="margin-top: 4rem;">
        {% if page.website-link %}
        <li>🔗 <a class="button button-secondary" href="{{ page.website-link }}" target="_blank">Visit website</a></li>
        {% endif %}
        {% if page.appstore-link %}
        <li>🔗 <a class="button button-secondary" href="{{ page.appstore-link }}" target="_blank">View on the App Store</a></li>
        {% endif %}
        {% if page.googleplay-link %}
        <li>🔗 <a class="button button-secondary" href="{{ page.googleplay-link }}" target="_blank">View on Google Play</a></li>
        {% endif %}
    </ul>
  </div>
  <div class="wrapper">
    <hr>
<!--     {% if page.previous.url %}
    <div class="next-project work-item">
      <a href="{{ page.previous.url }}" class="link-reset">
        <h2>Next project &rarr;</h2>
        <figure>
          <img class="lazy" data-src="{{ page.previous.thumbnail }}" />
        </figure>
        <h3>{{ page.previous.title }}</h3>
        <p>{{ page.previous.description }}</p>
      </a>
    </div>
    <hr>
    {% endif %} -->
  </div>

</article>
