html {
	// background-color: {{ page.background-color }};
}
hr {
	border-color: rgba(0,0,0,0.16)
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	@include breakpoint (xs) {
		padding: 0 1.25rem;
	}
	@include breakpoint(sm) {
		padding: 0 2rem;
	}
}

.section {
	@include breakpoint(xs) {
		margin: 4rem 0;
	}
	@include breakpoint(sm) {
		margin: 8rem 0;
	}	
}

.grid {
	&-item {
		@include breakpoint(xs) {
			margin-bottom: 3em;
		}
	}
	@include breakpoint(sm) {
		display: grid;
		grid-gap: 2em;
	}
	@include breakpoint(md) {
		grid-gap: 6em;
	}
}

.grid-d2-m1 {
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;

}

.grid-d3-m1 {
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

.grid-d4-m1 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-between;
}

.span-2 {
	grid-column: span 2;
}

.span-3 {
	grid-column: span 3;
}

.page-content {
  padding: 0 0 $spacing-unit 0;
}

// Adds padding to pages without banner
.home, .page {
  padding-top: $spacing-unit*4;

  @include breakpoint(xs) {
    padding-top: $spacing-unit/2;
  }
}

//Images
img {
	width: 100%;
}