// Type variables
$base-font-size: 16px;
$base-line-height: 1.6;
$base-font-weight: 400;
$heading-line-height: 1.1;
$heading-font-weight: 700;
$max-line-length: 720px;
$base-letter-spacing: -0.014em;
$large-letter-spacing: -0.019em;
$xlarge-letter-spacing: -0.022em;

//Color variables
$color-text: rgba(0,0,0,0.9);
$color-text-light: rgba(0,0,0,0.54);
$color-link: #0000EE;
$color-link-hover: #0000EE;
$color-link-visited: #551A8B;
$color-background: #fff;
$color-background-skin: #FFF6EF;

//Spacing
$spacing-unit: 16px;