// Type variables
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: 400;
$heading-line-height: 1.2;
$heading-font-weight: 700;
$max-line-length: 720px;

//Color variables
$color-text: #111;
$color-text-light: #767676;
$color-link: #0000EE;
$color-link-hover: #0000EE;
$color-link-visited: #551A8B;

$color-background: #fff;

//Spacing
$spacing-unit: 16px;